#loading, #results {
    display:none;
}

h1, h3 {
    color: rgb(80, 170, 80);
    text-shadow: 2.1px 2.1px rgb(71, 41, 11);
}

body {
    background: url(../img/brown-bg.jpg);
}

.card {
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

.btn {
    background: rgb(80, 170, 80);
    color: rgb(71, 41, 11);
    font-weight: 700;
    border-style: none;
}

.input-group-text {
    background: rgb(80, 170, 80);
    color: rgb(71, 41, 11);
    font-weight: 700;
    border-style: none;
}